.gridNotFound {
    border: 1px solid #e5e7ea;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 1px 2px 5px 5px #c0c0c0;
    border-radius: 40px;
}

.lblPageNotFoundTitle{

    font-family: OpenSans;
    font-size: 25px;
    color: gray;
}

.lblPageNotFoundText{

    font-family: OpenSans;
    font-size: 20px;
    color: gray;
}

.spanNotFound{

    color: gray;
}

.redirectToHome{

    font-family: OpenSans;
    font-size: 25px;
    text-align: center;
}